[Unit]
Description=Reminderd - user reminder daemon
After=network.target

[Service]
Type=simple
ExecStart=%h/Reminderd/venv/bin/python %h/Reminderd/src/reminderd
Restart=on-failure

[Install]
WantedBy=default.target
